<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500&display=swap&subset=latin-ext" rel="stylesheet">

{% seo %}

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <script>
        function showPopup() {
            window.bChat = {
                "showChatNote": false,
                'image': 'https://cdn.covid.chat/logo.png',
                'text': 'Dôležité informácie o koronavíruse (COVID-19)',
                "autoOpen": false,
                "noAutoInit": false,
                "noHistory": true,
                "exitButton": true,
                "skipWelcome": true,
                "force": true,
                "ref": "welcome"
            };
            (function(d, s, id) {
                var js, bjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.async = true; js.id = id;
                js.src = "https://cdn.covid.chat/chat.js";
                bjs.parentNode.insertBefore(js, bjs);
            }(document, 'script', 'bmedia'));
        }
        function showSample() {
            document.getElementById("sample").innerHTML = "<iframe\n" +
                "    style=\"border:0;width:100%;max-width:400px;height:430px;\"\n" +
                "    src=\"https://covid.chat/chat/?history=0&ref=welcome\"></iframe>";
        }
        function showSampleSource() {
            document.getElementById("sample-source").style.display = 'block';
        }
    </script>
	  
    <style>
        body, html, * {
            font-family: 'Work Sans', sans-serif;
	}
	    
	button {
	    background-color: #5C1F99;
            border: 0;
	    color: #fff;
            padding: 5px 10px;
        }
    
	    footer {
    width: auto;
    float: none;
    position: relative;
    bottom: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    text-align: right;
}
    </style>
  </head>
  <body>
    <div class="wrapper">
      {% if site.logo %}
        <a href="https://covid.chat"><img src="{{site.logo | relative_url}}" alt="Logo" style="margin-bottom:20px;" /></a>
      {% endif %}

      <div>
      {{ content }}
      </div>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
